<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for @movie, html: { multipart: true } do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.label :titulo %>
      <%= f.text_field :titulo %>

      <%= f.label :descripcion %>
      <%= f.text_area :descripcion %>

      <%= f.label :productor %>
      <%= f.text_field :productor %>

      <%= f.label :poster %>
      <%= f.file_field :poster %>

      <%= f.label :genero %>
      <%= f.text_field :genero %>

      <%= f.label :precio %>
      <%= f.text_field :precio %>

      <%= f.label :calificacion %>
      <%= f.text_field :calificacion %>

    <%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>

  </div>
</div>
