<h1>Peliculas 
<% if logged_in? %>
<small><%= link_to 'Agregar pelicula', new_movie_path %></small>
<% end %>
</h1>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="<%= movie.poster_url %>" alt="<%= movie.titulo %>" class="img-responsive">
      <div class="caption">
        <h3><%= movie.titulo %></h3>
        <p>Genero: <%= movie.genero %></p>
        <p>Calificación: <%= movie.calificacion %></p>
        <p>Precio de renta: <%= movie.precio %></p>
        <p>
          <%= link_to 'Ver', movie, class: "btn btn-primary" %>
          <% if logged_in? %>
            <%= link_to 'Editar', edit_movie_path(movie), class: "btn btn-success" %>
            <%= link_to 'Eliminar', movie, method: :delete, class: "btn btn-danger", data: { confirm: '¿Seguro de eliminarla?' } %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
