<div class="row">
    <div class="col-md-3">
        <img src="<%= @movie.poster_url %>" alt="<%= @movie.titulo %>" class="img-responsive">
    </div>
    <div class="col-md-9">
        <h1><%= @movie.titulo %></h1>
        <p>Productor: <%= @movie.productor %></p>
        <p>Genero: <%= @movie.genero %></p>
        <p>Calificación: <%= @movie.calificacion %></p>
        <p>Precio de renta: <%= @movie.precio %></p>
        <p class="lead"><%= @movie.descripcion %></p>

        <% if logged_in? %>
        <a><%= link_to 'Rentar', rent_a_movie_path, method: :post, class: 'btn btn-primary btn-lg make_rent', remote: true %></a>
        <% end %>
    </div>
</div>
