<div class="center jumbotron">
  <h1>Bienvenido a nuestro VideoClub</h1>

  <h2>
    Para poder comenzar a rentar peliculas necesitas registrarte.
  </h2>

  <%= link_to "Registrarme", registro_path, class: "btn btn-lg btn-primary" %>
</div>